.jumbotron {
  background: #202e33;
  color: #00aaef;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: transparent;
    border-color: #FFF; }
    .jumbotron .btn-primary:hover {
      background: #202e33; }
  .jumbotron p {
    color: #0fffca;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

